.search-box {
  display: block;
}

.product {
  /*display: inline-block;*/
  width: 50vw;
  border: 1px solid;
  padding-left: 1vw;
}

.hide {
  display: none;
}

.product img {
    height: 100px;
    float: left;
    padding-top: 1vh;
    margin-right: 45px;
    border-radius: 5px;
}

.product a.image.wide {
    max-width: 100%;
    position: relative;
    z-index: 999;
}

.product .wide img {
    height: initial;
    width: 100%;
    margin-bottom: 30px;
}

.product .wide small {
    display: none;
}

.product a.image {
    max-width: 150px;
    display: block;
    cursor: pointer;
}

.product small {
    float: left;
    display: block;
    text-align: center;
    width: 120px;
}

footer {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: left;
}
