

<div class="body">
  <section class="main-heading">
    <h1>Fashion Hound</h1>
  </section>

  <div class="main-products">
    {{outlet}}
  </div>
  <!-- <div class="row">
    <div class="col-md-4"
      <footer>
        Powered by &copy; Shopstyle
      </footer>
    <div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div> -->
</div>
