<section class="main-heading">
  <h1>Fashion Hound</h1>
</section>

<div class="body">
  <div class="main-products">
    {{outlet}}
  </div>
  <!-- <footer>
    Powered by &copy; Shopstyle
  </footer> -->
</div>
