

<div class="body">
  <section class="main-heading">
    <div class="logo">
      <img src="assets/images/FashionHound-Logo-Transparent-1000px.png" alt="logo">
    </div>
  </section>

  <div class="hound">
    <img src="assets/images/FashionHound_transparent.png" alt="hound">
  </div>

  <div class="main-products">
    {{outlet}}
  </div>
  <!-- <div class="row">
    <div class="col-md-4"
      <footer>
        Powered by &copy; Shopstyle
      </footer>
    <div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div> -->
</div>
