{{#product-filter
  filter=(action 'filterBySearch')
  as |products|}}
  <div class="results">
    {{#each model as |productListing|}}
      {{product-listing product=productListing}}
    {{/each}}
  </div>
{{/product-filter}}
